/* ---------------------------------------------------------
HTML element styling
----------------------------------------------------------*/


/*The prominent name over the main photo -------------------------------------
------------------------------------------------------------------------------*/

#name
{
position:absolute;
left:20px;
top:20px;
color:white;
font-size: 150px;
}

/*The giant photo banner up top ----------------------------------------------
------------------------------------------------------------------------------*/


img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin:0px;
}

/*Mike's name below the photo -------------------------------------
------------------------------------------------------------------------------*/
#mikephoto {
        display:block;
        text-align: center;
        padding-bottom:10px;
        }

#heading {
	font-size: 20px;
	text-align: center;
	margin-top: 2%;
}


/*The round photo of Mike -------------------------------------
------------------------------------------------------------------------------*/

#mikephoto {
        display:block;
        text-align: center;
        padding-bottom:10px;
        }

/*Formatting for the About/ Resumer menu -------------------------------------
------------------------------------------------------------------------------*/

ul
{
position:absolute;
bottom: 30px;
display:block;
width:200px;
right:30px;
color:white;
font-size: 30px;
margin: 4px;
}

li
{
float:right;
display:block;
background-color: #99FF99;
}

body {
	background-image:url('../images/noise.png')
}

.container {
	background-color:white;
	position:relative;
	top:-5px;
}
