/* element styling */


body {
	background: #91CBFF;
	font-family:"Arial Black",Gadget,sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin:0;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
display:inline;
position: absolute;
top: 5px;
right: 5px;
}

li
{
float:left;
}


link {color:#FF0000;}      /* unvisited link */
visited {color:#00FF00;}  /* visited link */
hover {color:#FF00FF;}  /* mouse over link */
active {color:#0000FF;}  /* selected link */


h1, h2 {
	font-weight: normal;
	margin: 0;
	font-family:'Bowlby One SC',"Arial Black",Gadget,sans-serif;
	text-transform: uppercase;
	color: black;
	line-height: 1;
}


/* ---------------------------------------------------------
The logo, Michael Kurtz
----------------------------------------------------------*/

#name1 {
	position: absolute;
	top: 5px;
	left: 0px;
	color: #33333D;
	opacity: .2;
	font-size: 40px;
	text-shadow: none;
}

#name2 {
	position: absolute;
	top: 35px;
	left: 150px;
	color: #33333D;
	opacity: .4;
	font-size: 40px;
	text-shadow: none;
}




#header {
        height: 100px;
}


#menu  a
{
display:block;
width:100px;
color: black;
text-decoration: none;
}


#main {
        background-color:white;
        height: 375px;
        border-bottom: 1px solid grey;
        border-top: 2px solid grey;
}

#summary { 
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        font-family:arial, sans-serif;
        position: absolute;
        line-height: 120%;
        left: 400px;
        right: 50px;
        top: 200px;
}

#mikephoto {
        display:inline;
        position:absolute;
        left: 50px;
        top: 120px;
        }

#social {
        position: absolute;
        right: 10px;
        top:500px;
}

#middle {
        border-left:1px solid grey;
        border-right:1px solid grey;
}
